.navbar-container {
  height: 100%;
  color: $paynes-gray;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .navbar-wrapper {
    height: 100px;
    width: 100%;
    background-color: ghostwhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 15px rgba(100, 104, 130, 0.3);

    .logo-left-wrapper {
      height: 100%;
      width: 25%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      img {
        height: 90%;
        width: auto;
        margin-left: 50px;
      }
    }

    .right-side-wrapper {
      height: 100%;
      width: 75%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .client-name {
        height: 40%;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        h1 {
          height: 30px;
          width: 250px;
          margin-right: 30px;
          font-size: 1.5em;
          border-bottom: 2px solid $vivid-gerulean;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .bottom-wrapper {
        height: 60%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .links-wrapper {
          height: 60%;
          width: 50%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;

          .link-wrapper {
            height: 40px;
            width: 20%;
            border-radius: 10px;
            border: 2px solid transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2s ease-in-out;

            &:hover {
              border: 2px solid $vivid-gerulean;
            }

            &:active {
              border: 2px solid $egyption-blue;
              outline: none;
            }

            a {
              height: 100%;
              width: 100%;
              cursor: pointer;
              font-weight: 700;
              font-size: 1.3em;
              color: $paynes-gray;
              text-decoration: none;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: 0.2s ease-in-out;

              &:hover {
                letter-spacing: 2px;
              }
            }
          }
        }
      }
    }
  }

  .footer-wrapper {
    height: 150px;
    width: 100%;
    background-color: ghostwhite;
    box-shadow: 0px -15px 15px 0px rgba(100, 104, 130, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .links-wrapper {
      height: 60%;
      width: 50%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .link-wrapper {
        height: 40px;
        width: 20%;
        border-radius: 10px;
        border: 2px solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s ease-in-out;

        &:hover {
          border: 2px solid $vivid-gerulean;
        }

        &:active {
          border: 2px solid $egyption-blue;
          outline: none;
        }

        a {
          height: 100%;
          width: 100%;
          cursor: pointer;
          font-weight: 700;
          font-size: 1.3em;
          color: $paynes-gray;
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.2s ease-in-out;

          &:hover {
            color: $onyx;
            letter-spacing: 2px;
          }
        }
      }
    }

    .copyright-wrapper {
      height: 40%;
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        height: 80%;
        width: 100%;
        border: 1px solid rgba(100, 104, 130, 0.5);
        font-size: 1.3em;
        font-family: serif;
        font-weight: 900;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
